.score {
  border: 20px solid #000117;
  border-radius: 15px;
  background-image: radial-gradient(#34c9c0, #000357 90%, #000357);
  padding: 10px 30px;
  min-width: 120px;

  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
