@font-face {
  font-family: "Helvetica condensed";
  src: url("./assets/font/helvetica_condensed.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica condensed";
  src: url("./assets/font/helvetica_condensed_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Silkscreen";
  src: url("./assets/font/Silkscreen-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Silkscreen";
  src: url("./assets/font/Silkscreen-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'Helvetica condensed', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Silkscreen";
  font-weight: 700;
}
